.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 700px;
    margin: 0 auto;
}

.form-wrapper {
    width: auto;
    height: 300px;
    background-color: #14b8a6;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 20px;
}

.label {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.input {
    height: 26px;
    width: 43%;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: rgb(51, 51, 51);
    font-size: 18px;
    margin-bottom: 20px;
}

.input-long {
    height: 26px;
    width: 95%;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: rgb(51, 51, 51);
    font-size: 18px;
    margin-bottom: 20px;
}

.input-div {
    display: flex;
    justify-content: space-between;
}

.select {
    height: 46px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: rgb(51, 51, 51);
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
    background-color: #115e59;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

.error {
    color: red;
    margin-bottom: 20px;
}

.credentials-container {
    padding: 10px;
    border: 2px solid black;
}

.bolded {
    user-select: none;
    font-weight: bold;
}

.info {
    margin: 20px;
    background-color: lightgray;
    font-weight: 600;
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
    border-radius: 3px;
}

.info-num {
    font-weight: 700;
}

.table {
    width: 100%;
}

th {
    background-color: rgb(102, 161, 157);
}

td {
    background-color: rgb(131, 206, 202);
    height: 30px;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.del-btn {
    height: 20px;
    cursor: pointer;
    padding: 0 10px;
    border: none;
    color: white;
    border-radius: 3px;
    background-color: rgb(142, 71, 71);
    text-decoration: none;
}

tr, td,  th {
    border: 1px solid black;
}