.table {
    width: 100%;
    margin-bottom: 20px;
}

th {
    background-color: rgb(87, 175, 169);
}

td {
    background-color: rgb(141, 212, 209);
    height: 30px;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.del-btn {
    height: 20px;
    cursor: pointer;
    padding: 0 10px;
    border: none;
    color: white;
    border-radius: 3px;
    background-color: rgb(142, 71, 71);
    text-decoration: none;
}

tr, td,  th {
    border: 1px solid black;
}