.top-bar {
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #3b4483;
    height: 50px;
    user-select: none;
  }

  .top-bar__logo-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .menu-btn {
    font-size: 30px;
    transition: transform 0.1s ease-in-out;
  }
  
  .menu-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo__name {
    font-size: 24px;
    letter-spacing: 1.2px;
  }
  
  .logo__special {
    position: relative;
    top: -5px;
    left: 10px;
    color: #e4324c;
  }

  .top-bar__school-name {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .icon {
    font-size: 30px;
  }

  .top-bar__tools {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .notifications {
    display: flex;
    gap: 10px;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .btn {
    margin: 2px;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: #3b4483;
    width: 100%;
    text-align: center;
  }

  .btn:active {
    background-color: #272d5f;
  }