.six {
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    display: inline-block;
    border-radius: 3px;
    margin: 2px;
    color: white;
    background-color: rgb(106, 177, 0);
    user-select: none;
}

.five {
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    display: inline-block;
    border-radius: 3px;
    margin: 2px;
    color: white;
    background-color: rgb(68, 134, 226);
    user-select: none;
}

.four {
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    display: inline-block;
    border-radius: 3px;
    margin: 2px;
    color: white;
    background-color: rgb(214, 189, 1);
    user-select: none;
}

.three {
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    display: inline-block;
    border-radius: 3px;
    margin: 2px;
    color: white;
    background-color: rgb(216, 160, 27);
    user-select: none;
}

.two {
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    display: inline-block;
    border-radius: 3px;
    margin: 2px;
    color: white;
    background-color: rgb(250, 107, 35);
    user-select: none;
}