.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.address-wrapper {
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(152, 121, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.adress-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.row {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.left {
    justify-self: flex-start;
}

.right {
    color: white;
    font-weight: bold;
}